h1 {
  color: #00008B;
}

a {
  text-decoration: none
}

.show {
  display: block;
  font-size: 13px;
  line-height: 140%;
}

.hide {
  display: none;
}

.app-container {
  width: 50px;
  height: 50px;
}

.movie-tile-container {
  width: 95%;
  margin: 0 auto;
  padding-top: 13px;
  display: flex;
  flex-direction: row;
  font-family: Verdana, Arial, sans-serif;
}

.movie-tile-image-container {
  width: 10%;
  min-width: 150px;
}

.movie-tile-image {
  height: 190px;
  width: 130px;
  padding: 2px 20px 0 5px;
}

.movie-tile-info-container {
  padding-top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-tile-title-container {
  margin-bottom: 15px;
}

.movie-tile-title {
  font-weight: bold;
}

.movie-tile-year {
  font-size: 13px;
  color: #999;
}

.movie-tile-rating {
  margin: 3px 0 3px;
}

.movie-tile-description-section {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 140%;
}

.movie-tile-people-section {
  margin-bottom: 10px;
  font-size: 11px;
}

.movie-tile-people-director {
  margin: 3px 0 3px;
}

.movie-tile-mpaa-rating {
  margin: 3px 0 5px;
}

.read-review-button {
  margin: 3px 0 3px;
  background-color: lightyellow;
  border-radius: 3px;
  border-style: outset;
  cursor: pointer;
}
