h1 {
  color: #00008B;
}

a {
  text-decoration: none
}

.show {
  display: block;
  font-size: 13px;
  line-height: 140%;
}

.hide {
  display: none;
}

.app-container:nth-child(odd) {
  background: rgba(208,200,200,0.14);
}

.movie-tile-container {
  width: 95%;
  margin: 0 auto;
  padding-top: 13px;
  display: flex;
  flex-direction: row;
  font-family: Verdana, Arial, sans-serif;
}

.movie-tile-image-container {
  width: 10%;
  min-width: 150px;
}

.movie-tile-image {
  height: 190px;
  width: 130px;
  padding: 2px 20px 0 5px;
}

.movie-tile-info-container {
  padding-top: 3px;
  padding-bottom: 15px;
}

.movie-tile-title-container {
  margin-bottom: 15px;
}

.movie-tile-title {
  font-weight: bold;
  color: #136CB2;
}

.movie-tile-year {
  font-size: 13px;
  color: #999;
}

.movie-tile-rating {
  margin: 3px 0 3px;
}

.movie-tile-description-section {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 140%;
}

.movie-tile-people-section {
  margin-bottom: 10px;
  font-size: 11px;
}

.movie-tile-people-director {
  margin: 3px 0 3px;
}

.movie-tile-mpaa-rating {
  margin: 3px 0 5px;
}

.read-review-button {
  margin: 3px 0 3px;
  background: -webkit-linear-gradient(top, rgba(250,248,241,1) 0%,rgba(236,226,198,1) 100%);
  height: 20px;
  line-height: 1px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  cursor: pointer;
}
